<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1 class="urdu">جی آیاں نوں، میرا ناں خضر اے</h1> <!--Hi, I’m Khizar -->
        <p class="urdu">مصنوعی ذہانت دا معمار، خودنظم، تکنیکی مزاج</p>
      </header>
      <p class="urdu">میں رٹگرز یونیورسٹی دے <a href="https://www.ece.rutgers.edu/">ای-سی-ای ڈیپارٹمنٹ</a> وچ پی-ایچ-ڈی سٹوڈنٹ آں۔ میری دلچسپی روبوٹکس، مصنوعی ذہانت تے سگنل پراسیسنگ دے مضامین وچ اے۔ میں ایس ویلے رٹگرز یونیورسٹی دی <a href="https://www.ece.rutgers.edu/~cps/">سی۔پی۔ایس لیب</a> وچ <a href="https://www.ece.rutgers.edu/~cps/people/pompili/">ڈاکٹر ڈاریو پامپیلی</a> دی نگرانی وچ تحقیق کرنا آں۔ میں اپنی بیچلرز دی تعلیم <a href="https://www.lums.edu.pk">لمز یونیورسٹی</a> توں حاصل کیتی جتھے مینوں بہترین کارکردگی دی بنیاد تے <b>این-ایم-ایف گولڈ میڈل</b> نال نوازیا گیا۔</p>
      <!--
      <p>On the ever-changing landscape of the internet, we are but nomadic travellers; wandering from one 
      oasis to the other with no permanent home. Welcome, O traveller, to my sanctuary! Rest up, look 
      around, refresh yourself with digital trinkets. </p>
      -->
      <ul class="actions">
        <li><a href="whoami.html" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object" > <!--style="display:table; flex-grow: 1; flex-shrink: 1; width: 15%"-->
      <img src="/assets/images/IMG_MYSELF.jpg" alt="" />
    </span>
  </section>
