<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Khizar </h1>
        <p>AI Enthusiast, Tinkerer, Wanderer</p>
      </header>
      <p>On the ever-changing landscape of the internet, we are but nomadic travellers; wandering from one 
      oasis to the other with no permanent home. Welcome, O traveller, to my sanctuary! Rest up, look 
      around, refresh yourself with digital trinkets. </p>
      <ul class="actions">
        <li><a href="whoami.html" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/IMG_3248.jpg" alt="" />
    </span>
  </section>
