<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Khizar </h1>
        <p>AI Enthusiast, Self Disciplined, Detail Oriented</p>
      </header>
      <p>I am a PhD student at ECE department at Rutgers. My interests lie at the intersection of areas of Robotics, Artificial Intelligence and Signal Processing. I currently work at <a href="http://eceweb1.rutgers.edu/~cps/">CPS Lab at Rutgers</a> under the supervision of <a href="http://eceweb1.rutgers.edu/~pompili/">Dr. Dario Pompili</a>. I was awarded an <b>NMF Gold Medal</b> along my Bachelor's from <a href="https://www.lums.edu.pk">Lahore University of Management Sciences (LUMS)</a> for my outstanding performance. </p>
      <!--
      <p>On the ever-changing landscape of the internet, we are but nomadic travellers; wandering from one 
      oasis to the other with no permanent home. Welcome, O traveller, to my sanctuary! Rest up, look 
      around, refresh yourself with digital trinkets. </p>
      -->
      <ul class="actions">
        <li><a href="whoami.html" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/IMG_3248@0,5x.jpg" alt="" />
    </span>
  </section>
